<section class="lp-layer call2action padding-block-32" data-md-color-scheme="slate">
    <div class="layer_inner center">
        <div class="cta padding-block-64">
            <h3 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">Get Started with RaspAP</h3>
            <p><p>Our <a href="https://docs.raspap.com/faq/" style="color: rgb(187, 128, 0);">frequently asked questions (FAQ)</a> are continuously updated and are a great place to start. Need help not covered in the <a href="https://docs.raspap.com/faq/" style="color: rgb(187, 128, 0);">FAQ</a>, have an idea or want to share your project with the RaspAP community? Head over to our <a href="https://github.com/RaspAP/raspap-webgui/discussions" style="color: rgb(187, 128, 0);">GitHub Discussions</a> or join our <a href="https://discord.gg/KVAsaAR" style="color: rgb(187, 128, 0);">Discord</a>. For everything else and more detailed information, dive into our official <a href="https://docs.raspap.com" style="color: rgb(187, 128, 0);">documentation</a>.</p>
            <button class="button" style="margin-top: var(--size-32);"><a href="quick-start">Quick Start</a></button>
        </div>
    </div>
</section>