<section class="lp-layer components">
    <div class="layer_inner padding-block-32">
        <div class="feature-grid">
            <div class="grid_item">
                <div class="grid-image">
                    <img class="box-shadow" src="assets/images/dashboard.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">Additional Features</h4>
                    <i class="fas fa-check"></i> Data usage graphs for all interfaces<br/>
                    <i class="fas fa-check"></i> <a href="https://docs.raspap.com/features-core/ssl/">SSL certificate</a> support<br/>
                    <i class="fas fa-check"></i> <a href="https://docs.raspap.com/features-core/captive/">Captive portal</a> integration<br/>
                    <i class="fas fa-check"></i> Up-to-date security audits<br/>
                    <i class="fas fa-check"></i> Advanced DHCP server control<br/>
                    <i class="fas fa-check"></i> 802.11ac 5GHz operation<br/>
                    <i class="fas fa-check"></i> <a href="https://docs.raspap.com/features-insiders/dynamicdns/">Dynamic DNS</a> support<br/>
                    <i class="fas fa-check"></i> Auto-detect external wireless adapters<br/>
                    <i class="fas fa-check"></i> <a href="https://docs.raspap.com/features-core/ap-basics/#wpa3-personal">WPA3-Personal + 802.11w</a> support<br/>
                    <i class="fas fa-check"></i> <a href="https://github.com/RaspAP/raspap-docker">Docker</a> support<br/>
                    <i class="fas fa-check"></i> Fully responsive + mobile-ready<br/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>