<section class="lp-layer faq | padding-block-64">
    <div class="layer_inner">
        <div class="layer_header | center" style="--tab-index: 1;">
            <h2 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">Some of our most asked questions</h2>
        </div>
        <div class="even-columns grid-2-3 center" style="margin-top: var(--size-64);">
            <div class="question" style="--tab-index: 1;">
                <strong class="fs-text-xl fc-base-main fw-semibold">How does your SaaS product work?</strong>
                <p>Our SaaS product operates by providing software applications and services through the cloud.
                    Users can access and utilize our product via a web browser without the need for local installation.</p>
            </div>
            <div class="question" style="--tab-index: 2;">
                <strong class="fs-text-xl fc-base-main fw-semibold">How does your SaaS product work?</strong>
                <p>Our SaaS product operates by providing software applications and services through the cloud.
                    Users can access and utilize our product via a web browser without the need for local installation.</p>
            </div>
            <div class="question" style="--tab-index: 3;">
                <strong class="fs-text-xl fc-base-main fw-semibold">How does your SaaS product work?</strong>
                <p>Our SaaS product operates by providing software applications and services through the cloud.
                    Users can access and utilize our product via a web browser without the need for local installation.</p>
            </div>
            <div class="question" style="--tab-index: 4;">
                <strong class="fs-text-xl fc-base-main fw-semibold">How does your SaaS product work?</strong>
                <p>Our SaaS product operates by providing software applications and services through the cloud.
                    Users can access and utilize our product via a web browser without the need for local installation.</p>
            </div>
        </div>
    </div>
</section>