<section class="lp-layer features | padding-block-64" data-md-color-scheme="slate">
    <div class="layer_inner">
        <div class="layer_header | center">
            <h2 id="features" class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">More than an access point</h2>
            <p>RaspAP is feature-rich wireless router software that <i>just works</i> on many popular Debian-based devices, including the Raspberry Pi.<br/>Customizable, mobile-friendly interface in 20+ languages. Sets up in minutes.</p>
        </div>
        <div class="column-grid-3">
            <div class="lp-tab" style="--tab-index: 1;">
                <i class="icon fa-solid fa-key"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Multiple VPN options</h4>
                <p>Popular <a href="https://docs.raspap.com/features-core/openvpn/">OpenVPN</a>, cutting edge <a href="https://docs.raspap.com/features-core/wireguard/">WireGuard</a> and <a href="https://docs.raspap.com/features-insiders/tailscale/">Tailscale</a> encrypted tunnels may be configured to securely connect your client devices.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 2;">
                <i class="icon fa-solid fa-hand"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Ad block integration</h4>
                <p>Streamline AP throughput for your clients by sending requests for ads, trackers and other undesirable hosts to <a href="https://docs.raspap.com/features-core/adblock/">DNS blacklist oblivion</a>.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 3;">
                <i class="icon fa-solid fa-bridge"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Bridged mode</h4>
                <p>Want your upstream router to assign IP addresses? RaspAP lets you change the default routed configuration to an alternate <a href="https://docs.raspap.com/features-core/bridged/">bridged AP</a> mode.</p>
            </div>
        </div>
        <div class="column-grid-3">
            <div class="lp-tab" style="--tab-index: 1;">
                <i class="icon fa-solid fa-code"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Easy to customize</h4>
                <p>Modify RaspAP to suit your needs with a completely exposed <a href="https://docs.raspap.com/get-started/defaults/">default configuration</a>, many <a href="https://docs.raspap.com/get-started/quick-installer/">installation options</a>, themes and more.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 2;">
                <i class="icon fa-brands fa-docker"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Docker ready</h4>
                <p>Deploy RaspAP quickly in a portable, lightweight and isolated <a href="https://docs.raspap.com/get-started/docker/">Docker container</a> for all your application needs.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 3;">
                <i class="icon fa-solid fa-microchip"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Made for IoT</h4>
                <p>Small on memory utilization yet big on features, RaspAP is ideal for IoT applications where <a href="https://www.raspberrypi.org/blog/low-cost-raspberry-pi-zero-endoscope-camera/">wireless connectivity</a> and data sharing are a must.</p>
            </div>
        </div>
        <div class="column-grid-3">
            <div class="lp-tab" style="--tab-index: 1;">
                <i class="icon fa-solid fa-puzzle-piece"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Integrated API</h4>
                <p>RaspAP includes support for stateless client-server data exchange via a high performance <a href="https://docs.raspap.com/features-experimental/restapi/">RESTful API</a> based on FastAPI.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 2;">
                <i class="icon fa-solid fa-plug"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Custom user plugins</h4>
                <p>Want to extend RaspAP's functionality? A plugin manager and <a href="https://github.com/RaspAP/SamplePlugin">sample plugin</a> make it easy for developers to create their own <a href="https://docs.raspap.com/features-core/custom-plugins/">custom plugins</a>.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 3;">
                <i class="icon fa-solid fa-shield-halved"></i>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">VPN provider control</h4>
                <p>Administer several of the most popular <a href="https://docs.raspap.com/features-experimental/providers/">VPN providers</a> via their Command Line Interfaces (CLIs) directly in RaspAP's UI.</p>
            </div>
        </div>
    </div>
</section>