<section class="lp-layer hero | padding-block-32" data-md-color-scheme="slate">
    <div class="layer_inner | even-columns center wide">
        <div class="hero_text | center">                  
            <div class="hero-context | fs-text-xl fw-regular">
                <h1 class="fs-display-l fw-bold">Rasp<span class="highlight">AP</span></h1>
                <p>{{ config.site_description }}</p>
                <button class="button"><a href="quick-start">Quick start</a></button>
                <button class="button" data-type="inverted"><a href="https://github.com/sponsors/RaspAP">Get Insiders</a></button>
            </div>
            <div>
                <a class="btn btn-link" href="#features" aria-label="More">
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="hero_image">
        </div>
    </div>
    <div class="custom-shape-divider-bottom">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path d="M1000 0H0v52C62.5 28 125 4 250 4c250 0 250 96 500 96 125 0 187.5-24 250-48V0Z" class="shape-fill"></path>
        </svg>
    </div>
</section>